{% extends "blog/base.html" %}
{% block title %}Home - Mini Blog{% endblock %}

{% block content %}
  <h1>Últimos posts</h1>

  {% for p in posts %}
    <a href="{% url 'detalle_post' p.id %}" class="post-link">
      <div class="card">
        <h2>{{ p.titulo }}</h2>
        <p><b>Autor:</b> {{ p.autor }} | <b>Categoría:</b> {{ p.categoria|default:"(sin categoría)" }}</p>
        <p>{{ p.contenido|truncatechars:180 }}</p>
        <small>Creado: {{ p.creado_en }}</small>
      </div>
    </a>
  {% empty %}
    <p>No hay posts aún.</p>
  {% endfor %}
{% endblock %}